<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ShowFolderContent.aspx.cs" Inherits="Ubolt.Visualization.UI.Editors.ShowFolderContent" MasterPageFile="/Umbraco/masterpages/umbracoPage.Master" Title="Folder Content" %>
<%@ Register TagPrefix="umb" Namespace="umbraco.uicontrols" Assembly="controls" %>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="head">
    

</asp:Content>
<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="body">
 <umb:TabView runat="server" ID="tabControl" Width="552px" Height="692px"/>
    
    <umb:Pane ID="PaneData" runat="server">
        

    </umb:Pane>
    
    <umb:Pane ID="PanePropperties" runat="server">
        

    </umb:Pane>

</asp:Content>