﻿@using umbraco.MacroEngines
@inherits DynamicNodeContext
@{
    var chartControlId = string.Concat("chart_div_", Guid.NewGuid());
    var chartDescriptionId = string.Concat("description_", chartControlId);
    var chartId = Parameter.Chart;

    <script type="text/javascript">
        $(function() {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                type: "POST",
                url: "/umbraco/plugins/ubolt/charts/services/chartpickerservice.asmx/GetChartData",
                dataType: "json",
                data: "{id: '@chartId'}",
                success: function(data) {
                    data = jQuery.parseJSON(data.d);
                    renderGoogleChart($.parseJSON(data.Data), "@chartControlId");
                    $("#@chartDescriptionId").text(data.Source);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    </script>
    <div id="@chartControlId" class="chart_div wide"></div>
    <div id="@chartDescriptionId" class="chartSource"></div>
    
}