.chartType {
	float: left;
	width: 200px;
	height: 40px;
}


#fontSize {
	float: left;
	width: 250px;
}
#fontSize select {
	width: 80px;
	margin-left: 10px;
}

#slantedText {
	float: left;
	width: 250px;
}

#slantedText select {
	width: 80px;
	margin-left: 10px;
}

#legend {
	float: left;
	width: 250px;
}

#legend select {
	width: 80px;
	margin-left: 10px;
}

#stacked {
	float: left;
	width: 180px;
}

#offset input {
	margin-left: 10px;
	margin-right: 10px;
}

#forceVAxisZero {
	float: left;
	width: 300px;
}
#forceHAxisZero {
	float: left;
	width: 300px;
}