﻿@using umbraco.MacroEngines
@inherits DynamicNodeContext
@{
    var chartId = "chart_div_" + Guid.NewGuid().ToString();
    
    <script type="text/javascript">
        $(function () {
            renderGoogleChart(
                $.parseJSON('@Html.Raw(Parameter.Chart)'.replace(/&quot;/gi, "\"")),
                "@chartId"
            );
        });
    </script>
    <div id="@chartId" class="chart_div" style="width:500px; height:500px"></div>    
    
}